body {
    background: #ffffff;
}

#container {
    border: 1px solid #DADCE0;
    width: 800px;
    height: 600px;
    border-radius: 8px;
    position: absolute;
    left: 20%;
    top: 5%;
    margin-bottom: 50px;
}

.logo img {
    width: 80px;
    padding-left: 25px;
    padding-top: 25px;
}

.create h3 {
    font-family: 'Questrial', sans-serif;
    padding-left: 25px;
    font-size: 25px;
    font-weight: lighter;
}

/* input field styling */

.user-input {
    position: relative;
    padding-left: 25px;
}

.input-field {
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #DADCE0;
    margin-top: 25px;
    width: 65%;
}

.user-input .valueable {
    position: absolute;
    left: 40px;
    top: 34px;
    transition: 0.3s;
    background-color: #ffffff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.first-field {
    display: flex;
}

.third-field {
    display: flex;
}

/* input email */

span {
    position: absolute;
    top: 34px;
    left: 333px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

input#email {
    width: 47%;
}

/* input email end */

input:focus~.valueable, input:valid~.valueable {
    position: absolute;
    top: 15px;
    left: 30px;
    padding: 0 5px;
}

/* not working!!! */

/* input:invalid {
    border: 1px solid red;
    border-radius: 4px;    
} */

.required p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

.requiredTwo p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1A73EC;
}

.requiredThree p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-left: 25px;
    margin-top: 40px;
}

a {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-left: 25px;
    text-decoration: none;
    color: #1A73EC;
}

.submit {
    background-color: #1A73EC;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 9px 18px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin-left: 228px;
}

.submission {
    margin-top: 40px;
}

.account-img {
    width: 200px;
    position: absolute;
    top: 24%;
    left: 66%;
}

.moto p {
    position: absolute;
    top: 60%;
    left: 60%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.fas {
    position: relative;
    top: 35px;
    right: 25px;
    font-size: 1.5em;
}

.faqs {
    position: relative;
    top: 30px;
    left: 72%;
}

.faqs a {
    text-decoration: none;
    color: #75758B;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.faqs li {
    list-style: none;
}

.faqs ul {
    display: flex;
}